{% extends "blog/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<title> Blogs | Pool of ideas </title>
{% for post in post_list %}
        <article class="media content-section" style="margin-right: -14em;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>

                <form style="margin-left: 8em; margin-top: -1em;" method="post" action="{% url 'blog' %}">
                    {% csrf_token %}
                    <button style="
                            color: red;
                            border-radius: 2em;
                            background: white;
                            margin-left: 27em;

                    " type="submit" name="getbookmark" value="{{ post.id }}">Bookmark</button>
                </form>

            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% else %}
<h2> Please <a href="{% url 'login' %}">Login </a>| <a href="{% url 'register' %}">Register</a> to Continue</h2>
{% endif %}
{% endblock %}
