{% extends "blog/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for dietician in diet_list %}
        <article class="media content-section" style="margin-right: -15em;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">#RANK  {{ dietician.rank }}</a>
              <a class="mr-2" href="#">#SCORE {{ dietician.tot_rank_score }}</a>
              <a class="mr-2" href="#">#Avg Rating {{ dietician.ratings }}</a>
              <!--
                <small class="text-muted">{{ dietician.qualifications }}</small>
                -->
                <form style="margin-left: 8em; margin-top: -1em;" method="post" action="{% url 'blog' %}">
                    {% csrf_token %}
                    <button style="
                            color: red;
                            border-radius: 2em;
                            background: white;
                            margin-left: 27em;

                    " type="submit" name="getcbookmark" value="{{ dietician.id }}">Bookmark</button>
                </form>

            </div>
            <h2><a class="article-title" href="{% url 'top_profile' dietician.id %}">{{ dietician.name }}</a></h2>
            <p class="article-content">{{ dietician.qualifications }}</p>
          </div>
        </article>
    {% endfor %}
{% else %}
<h2> Please <a href="{% url 'login' %}">Login </a>| <a href="{% url 'register' %}">Register</a> to Continue</h2>
{% endif %}
{% endblock %}