{% extends "blog/home.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="content-section" style="margin-left: 31em;
    margin-right: -33em;
    border-bottom-right-radius: 6em;
    border-bottom-width: 1em;
    border-bottom-color: black;;">
    <form method="POST" action="{% url 'post-create' %}">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Blog Post</legend>
        <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                        Title<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="title" maxlength="200" class="textinput textInput form-control" required id="id_title">
        </div>
        <div id="div_id_content" class="form-group"> <label for="id_content" class=" requiredField">
         Content<span class="asteriskField">*</span> </label>
        <textarea name="content" cols="40" rows="10" class="textarea form-control" required id="id_content">
        </textarea>
        </div>
        </div>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="margin-left: 0em;">Post</button>
        </div>
    </form>
</div>
{% else %}
<h2> Please <a href="{% url 'login' %}">Login </a> | <a href="{% url 'register' %}">Register</a> to Continue</h2>
{% endif %}
{% endblock %}